h1 {
	text-align: left;
	color: black;
	vertical-align: center;
	margin-left: 20px;
	font-size: 30px;
}
nav {
  background-color: #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7% 21%;
  font-family: "Helvetica";
 }
    
body {
	margin: 0px;
}

.logo h1 {
  margin: 0;
  font-weight: bold;
  color: #FFFFFF;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 20px;
  
}

a {
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
}

.login {
  color: #FF9051;
}

.search-bar form {
  position: relative;
}

.search-bar input[type="text"] {
  padding: 5px 10px;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #4f4f4f
}

#Header {
	background-color: grey;
	height: 10vh;
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top: 0px;
}
#Content {
	vertical-align: top;
	padding: 10vw;
	border-top: 0px;
}
.buttons a {
        padding: 13px 20px;
        width: 20%;
        border-radius: 8px;
        text-align: center;
        margin-left: 500px;
        background-color: #EDEDED;
        margin-bottom: 10px;
}
